#schedule {
  width: 90%;
}

label {
  margin: 1%;
}

#schedule_buttons {
  margin-left: 1%;
}

.group-input {
  margin-right: 1%;
  width: 40%;
  padding: 1%;
}

#headings {
  font-size: 130%;
}

#data {
  width: 95%;
}

.user-button{
  padding-top: 2%;
  padding-bottom: 2%;
  width: 75%;
  height: auto;
}

.delete-button{
  margin-top: 45%;
}

th, td{
  padding-top: 1%;
  padding-bottom: 1%;
}

td {
  width: 5%;
}

.auth-img {
  width: 100%;
  height: auto;
}

.dropdown-item {
  cursor: pointer;
}

/* manage_groups.php style sheets */
.manage-groups-table
{
  table-layout: fixed;
  width:100%;
  text-align:left;
  border-collapse: separate;
  border-radius: 10px;
}

.manage-groups-table th, td
{
  padding:10px;
}

.manage-groups-table th
{
  font-size: 130%;
}

.name-cell
{
  padding-top:1%;
  padding-bottom:1%;
  text-align:center;
  width:80%;
  background-color:#5b77a5;
  color:white;
}

#manage-btn-div
{
  display:none;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#add-group-btn
{
  background-color: rgb(161, 238, 171);
}

#add-group-btn:hover
{
  background-color: rgb(121, 240, 174);
}

.delete-btn
{
  background-color:red;
  color:white;
}

.delete-btn:hover
{
  background-color:rgb(160, 0, 0);
}

.edit-btn
{
  background-color:gold;
  color:black;
}

.edit-btn:hover
{
  background-color:lightblue;
  color:black;
}