#schedule {
  width: 90%;
}

label {
  margin: 1%;
}

#schedule_buttons {
  margin-left: 1%;
}

.group-input {
  margin-right: 1%;
  width: 40%;
  padding: 1%;
}

#headings {
  font-size: 130%;
}

#data {
  width: 90%;
}

.user-button{
  padding-top: 2%;
  padding-bottom: 2%;
}

.delete-button{
  margin-top: 45%;
}

th, td{
  padding-top: 1%;
  padding-bottom: 1%;
}

.auth-img {
  width: 100%;
  height: auto;
}