body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#profile img {
  width: 25%;
  height: auto;
  cursor: pointer;
}

#profile img:hover {
  border: thin solid black;
  border-radius: 5px;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 'main';
  height: 100vh;
}

.main {
  grid-area: main;
  padding: 2%;
  background-color: white;
  margin-bottom: 5%;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.card-style{
  background-color: #bccce5;
  border: thin solid black;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 150px;
  background-color: #e1e8f4;
  border: thin solid black;
  border-radius: 5px;
}

.card:nth-child(2) {
  height: 485px;
  background-color: #e1e8f4;
  border: thin solid black;
  border-radius: 5px;
}

.card:nth-child(3) {
  height: 200px;
  background-color: #e1e8f4;
  border: thin solid black;
  border-radius: 5px;
}

.card:nth-child(4) {
  height: 265px;
  background-color: #e1e8f4;
  border: thin solid black;
  border-radius: 5px;
}

.card:nth-child(5) {
  height: 265px;
  background-color:#e1e8f4;
  border: thin solid black;
  border-radius: 5px;
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}