body {
  box-sizing: border-box;
}

.to_do {
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 'main';
  height: 100vh;
}

.main {
  grid-area: main;
  padding: 2%;
  background-color: rgb(233, 231, 231);
  margin-bottom: 5%;
}

.card h2 {
  color: rgb(61, 115, 185);
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 24px;
  background-color: #eceff1;
  border: 2px solid black;
  border-radius: 5px;
}

/* Force varying heights to simulate dynamic content */
/*
.card:first-child {
  height: 150px;
  background-color: #e1e8f4;
  border: 2px solid black;
  border-radius: 5px;
}

.card:nth-child(2) {
  height: 485px;
  background-color: #e1e8f4;
  border: 2px solid black;
  border-radius: 5px;
}

.card:nth-child(3) {
  height: 200px;
  background-color: #e1e8f4;
  border: 2px solid black;
  border-radius: 5px;
}

.card:nth-child(4) {
  height: 265px;
  background-color: #e1e8f4;
  border: 2px solid black;
  border-radius: 5px;
}

.card:nth-child(5) {
  height: 265px;
  background-color:#e1e8f4;
  border: 2px solid black;
  border-radius: 5px;
}
*/