html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #5b77a5;
}

.rounded {
  border: thin solid black;
  border-radius: 5px;
}

.box {
  position: relative;
  width: 80%;
  height: auto;
  margin: 2%;
  padding: 5%;
}

a:link {
  text-decoration: none !important;
}

button {
  background-color: #f5be6c;
}

button:hover{
  background-color: #8fd4d9;
  cursor: pointer;
}

input[type=submit]{
  background-color: #f5be6c;
}

input[type=submit]:hover{
  background-color: #8fd4d9;
  cursor: pointer;
}

.footer{
  position: absolute;
  padding: 1%;
  width: 100%;
  overflow: hidden;
  background-color: #474c54;
  color: white;
  bottom: 0%;
}

#profile {
  position: absolute;
  text-align: center;
  right: 0%;
  top: 5%;
}

#profile img {
  width: 20%;
  height: auto;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
}