.left{
    position: absolute;
    left: 10%;
    top: 10%;
}

.right{
    position: absolute;
    right: 10%;
    top: 15%;
}

#add-youth-btn{
    margin-bottom: 2%;
}

#add-youth{
    position: absolute;
    height: auto;
    padding: 5%;
    margin-bottom: 10%;
}